[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
numpy = "==1.15.0"
pillow = "==6.0.0"
tensorflow = "==2.7.2"
click = "*"
pip = "*"
scikit-image = "*"

[requires]
python_version = "3.7"
